.l-post {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;

  .l-post__banner {
    flex: 0 0 30%;
    height: 20vh;
    img {
      height: 100%;
      width: auto;
    }
  }

  .l-post__content {
    padding-left: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1 1 auto;

    .l-post__header {
      margin-bottom: 0.35rem;
    }

    .l-post__body {
      flex: 1 1 80%;
    }

    .l-post__footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}