<div class="l-post">
  <div class="l-post__banner">
    <img src="{{ banner }}" alt="fire">
  </div>
  <div class="l-post__content">
    <div class="l-post__header">
      <app-badge [text]="'news'" [type]="'news'"></app-badge>
      <app-badge [text]="'hot'" [type]="'hot'"></app-badge>
      <app-badge [text]="'event'" [type]="'event'"></app-badge>
      <app-badge [text]="'guide'" [type]="'guide'"></app-badge>
      <app-badge [text]="'etc'" [type]="'etc'"></app-badge>
    </div>
    <div class="l-post__body">
      <p>
        <a href="{{ link }}">{{ title }}</a>
      </p>
      <span>{{ text }}</span>
    </div>
    <div class="l-post__footer">
      <div>
        <app-badge [text]="'Author'"></app-badge>
        <a href="http://">{{ author }}</a>
      </div>
      <span>{{ createdAt | date:'dd/MM/yyyy' }}</span>
    </div>
  </div>
</div>