<div class="l-login">
  <nb-card>
    <nb-card-header>
      Đăng nhập
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
        <label for="username">
          <input type="text" formControlName="username" nbInput placeholder="Username">
        </label>
        <label for="password">
          <input type="password" formControlName="password" nbInput name="password" id="password" placeholder="Password">
        </label>
        <hr>
        <div class="l-login__footer">
          <div class="l-login__footer-left">
            <a href="http://" target="_blank" rel="noopener noreferrer">Quên mật khẩu</a>
            <a href="http://" target="_blank" rel="noopener noreferrer">Đăng ký</a>
          </div>
          <div class="l-login__footer-right">
            <button type="submit">Đăng nhập</button>
          </div>
        </div>
      </form>
      <!-- <div>
        <button (click)="getAccessToken()" type="submit">AccessToken</button>
        <span>{{ accessToken$ | async | json }}</span>
      </div> -->
    </nb-card-body>
  </nb-card>
</div>