.l-login {

  .l-login__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  
    a {
      margin-right: 0.5rem;
    }
  
    .l-login__footer-left {
  
    }
    
    .l-login__footer-right {
  
    }
  }
}
