<div class="l-register">
  <nb-card class="l-register__card">
    <nb-card-header>
      Đăng ký tài khoản (New Account)
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label for="username">Tên tài khoản:</label>
        <input formControlName="username" type="text" nbInput shape="round" fullWidth
          status="{{ username.status === 'VALID' ? 'success' : 'danger' }}"
          placeholder="Username" id="username"
        >
        <label for="password">Mật khẩu:</label>
        <input formControlName="password" type="password" nbInput shape="round" fullWidth
          status="{{ password.status === 'VALID' ? 'success' : 'danger' }}"
          placeholder="Password" id="password"
        >
        <label for="re-password">Nhập lại mật khẩu:</label>
        <input formControlName="repassword" type="password" nbInput shape="round" fullWidth
          status="{{ password.value === repassword.value ? 'success' : 'danger' }}"
          placeholder="Re-Password" id="re-password"
        >
        <label for="email">Email: (thích thì điền)</label>
        <input formControlName="email" type="email" nbInput shape="round" fullWidth
          status="{{ email.status === 'VALID' ? 'success' : 'danger' }}"
          placeholder="Email (optional)" id="email"
        >
        <label for="gender">Giới tính:</label>
        <nb-radio-group [(value)]="registerForm.value.gender">
          <nb-radio value="M">Nam</nb-radio>
          <nb-radio value="F">Nữ</nb-radio>
        </nb-radio-group>
        <label for="birthdate">Ngày sinh:</label>
        <input formControlName="birthdate" type="text" nbInput shape="round" fullWidth
          status="{{ birthdate.status === 'VALID' ? 'success' : 'danger' }}"
          placeholder="Pick Date" [nbDatepicker]="formpicker" id="birthdate"
        >
        <nb-datepicker #formpicker format="dd MMMM, yyyy"></nb-datepicker>
        <hr>
        <div class='l-register__footer'>
          <div class="l-register__confirmation">
            <nb-toggle
              class="l-register__toggler-button"
              [(checked)]="isAgreeWithOurPolicy"
            ></nb-toggle>
            <span>
              Tôi đồng ý với
              <a href="/policy">điều khoản</a>
              sử dụng dịch vụ
            </span>
          </div>
          <button nbButton shape="round"
            class="l-register__submit-button"
            status="primary"
            type="submit"
            [disabled]="!registerForm.valid || password.value !== repassword.value || !isAgreeWithOurPolicy"
          >Đăng ký</button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>