.l-register {

  .l-register__card {
    width: 70vw;

    input {
      margin-bottom: 0.75rem;
    }
  
    .l-register__footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0.75rem;
  
      .l-register__confirmation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.5rem;

        .l-register__toggler-button {
          margin-right: 0.5rem;
        }
  
        .toggle-label {
          margin-bottom: 0;
        }
      }

      .l-register__submit-button {
        display: flex;
        flex: 1 1 auto;
      }
    }
  }
}