<div class="l-navbar">
  <ng-container *ngFor="let header of (navbarMeta$ | async); index as i; last as isLast; count as length">
    <a 
      routerLink="{{ header.urn }}"
      *ngIf="header.urn !== 'login'"
    >
      {{ header.displayName }}
    </a>
    <ng-container *ngIf="!(userMeta$ | async)">
      <button
        *ngIf="header.urn === 'login'"
        (click)="openModal(loginModal)"
      >{{ header.displayName }}</button>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="(userMeta$ | async)">
    <div class="l-navbar__user">
      <nb-user
        name="{{ (userMeta$ | async)?.userid }}"
        title="full-stack developer"
        [nbContextMenu]="userMenuItems"
        nbContextMenuTag="l-user-menu"
        nbContextMenuTrigger="hover"
      >
      </nb-user>
    </div>
  </ng-container>
</div>

<ng-template #loginModal let-modal>
  <app-login (loginEvent)="onLoginEvent($event)"></app-login>
</ng-template>