.l-navbar {
  display: flex;
  flex-flow: row nowrap;
  height: 5vh;
  flex: 1 1 auto;
  justify-content: space-evenly;
  align-items: center;
}

.l-login__footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  a {
    margin-right: 0.5rem;
  }

  .l-login__footer-left {

  }
  
  .l-login__footer-right {

  }
}