.l-article {
  display: flex;
  flex-flow: row nowrap;

  .l-article__left {
    flex: 1 1 auto;
  }

  .l-article__main {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 1080px;
    align-self: center;
    background-color: white;
    box-shadow: 0 15px 10px #777;

    .l-article__banner {
      img {
        width: 100%;
        height: auto;
      }
    }

    .l-article__header {
      padding: 1rem 2rem 0;
    }

    .l-article__body {
      padding: 2rem;
    }
  }

  .l-article__right {
    flex: 2 1 auto;
  }
}