<div class="l-article">
  <div class="l-article__left">
    Left area
  </div>
  <div class="l-article__main">
    <div class="l-article__banner">
      <img src="{{ banner }}" alt="banner">
    </div>
    <div class="l-article__header">
      Header
    </div>
    <div class="l-article__body">
      Body
    </div>
  </div>
  <div class="l-article__right">
    Right area
  </div>
</div>