<div class="l-create-article">
  <nb-card>
    <nb-card-header class="">
      <span class="">
        Tạo bài viết
      </span>
    </nb-card-header>
    <nb-card-body class="">
      <div class="l-create-article__body">
        <form [formGroup]="createArticleForm" class="l-create-article__form" (submit)="onSubmit()">
          <div class="l-create-article__form-left">
            <label for="">
              Title
              <input nbInput fullWidth type="text" formControlName="title">
            </label>
            <label for="">
              Banner URL
              <input nbInput fullWidth type="text" formControlName="banner">
            </label>
          </div>
          <div class="l-create-article__form-right">
            <nb-checkbox [(checked)]="tags.value.news" disabled>News</nb-checkbox>
            <nb-checkbox [(checked)]="tags.value.hot" disabled>Hot</nb-checkbox>
            <nb-checkbox [(checked)]="tags.value.event" disabled>Event</nb-checkbox>
            <nb-checkbox [(checked)]="tags.value.guide">Guide</nb-checkbox>
            <nb-checkbox [(checked)]="tags.value.etc">Etc</nb-checkbox>
          </div>
          <button type="submit">Đăng bài</button>
        </form>
      </div>
    </nb-card-body>
    <nb-card-footer class="">
      <ckeditor [(ngModel)]="editorData" [editor]="Editor" (ready)="onReady($event)"></ckeditor>
    </nb-card-footer>
  </nb-card>
  <hr>
  
</div>