.l-create-article {

  .l-create-article__body {

    .l-create-article__form {
      display: flex;
      flex-flow: row nowrap;

      .l-create-article__form-left {
        flex: 1 1 70%;
        display: flex;
        flex-flow: column nowrap;
      }

      .l-create-article__form-right {
        flex: 1 1 30%;
        padding: 0.25rem;
        border: 1px solid #000;
        display: grid;
      }
    }
  }
}