<div class="l-news">
  <nb-card>
    <nb-card-header>Tin tức</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let item of posts">
          <app-post
            class="l-news__post"
            [title]="item.title"
            [text]="item.text"
            [author]="'nquizx'"
            [createdAt]="tempDate"
          ></app-post>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>