.l-badge__default {
  margin-right: 0.3rem;
  background-color: cadetblue;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-size: 0.625rem;
  font-weight: 700;
  color: white;
}

.news {
  color: white;
  background-color: #28A745;
}

.hot {
  color: white;
  background-color: #DC3545;
}

.event {
  color: white;
  background-color: #007BFF;
}

.guide {
  color: black;
  background-color: #FFC107;
}

.etc {
  color: white;
  background-color: #17A2B8;
}