<nb-chat title="Main" size="large" scrollBottom="true">
  <nb-chat-message *ngFor="let mes of messages"
      [type]="mes.type"
      [message]="mes.message"
      [reply]="mes.reply"
      [sender]="mes.sender"
      [date]="mes.date"
      [files]="mes.files"
      [avatar]="mes.avatar"
      [dateFormat]="mes.dateFormat"
    >
  </nb-chat-message>
  <nb-chat-form
    *ngIf="(userMeta$ | async)"
    [buttonTitle]="'Gửi'"
    [messagePlaceholder]="'Chat với mọi người'"
    (send)="sendMessage($event)"
  ></nb-chat-form>
</nb-chat>
