<div class="l-download">
  <nb-card>
    <nb-card-header>
      Tải game
    </nb-card-header>
    <nb-card-body>
      <nb-card accent="info">
        <nb-card-header>
          Link full
        </nb-card-header>
        <nb-card-body>
          <a [href]="linkFull">Full</a>
        </nb-card-body>
      </nb-card>
      <nb-card accent="info">
        <nb-card-header>
          Link patch
        </nb-card-header>
        <nb-card-body>
          <a [href]="linkPatch">Patch</a>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>
</div>