<div class="l-support">
  <nb-card>
    <nb-card-header>Hỗ trợ</nb-card-header>
    <nb-card-body>
      <span>Vui lòng liên hệ qua facebook <a href="https://www.facebook.com/qui.innovator">Quí Nguyễn</a> để được hỗ trợ.</span>
    </nb-card-body>
  </nb-card>
</div>